node_modules/
.yaml
# Node.js y NestJS
node_modules/
dist/
build/
.tmp/
.cache/

# Archivos de configuración y entorno
.env
.env.local
.env.development
.env.production
.env.test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo

# Dependencias generadas por npm/yarn/pnpm
package-lock.json
yarn.lock
pnpm-lock.yaml

# Archivos de test coverage
coverage/

# Docker
docker-compose.override.yml
.dockerignore

# Archivos del sistema operativo
.DS_Store
Thumbs.db
